extends ../../layout
block mainContent
    include ../../header.jade
    br
    h2 Administration
    h3 Tweet Bot Posts
    .panel.panel-default
      table.table.table-condensed
       tr
        th id
        th username
        th text
        th text
       each val in body
        tr
          td
           img(src='#{val._json.user.profile_image_url}')
          td= val._json.user.screen_name
          td= val._json.text
          td= val._json.created_At
