extends ../../layout
block mainContent
    include ../../header.jade
    br
    h2 Administration
    h3 Tweet Bot Users
    .panel.panel-default
      table.table.table-condensed
       tr
        th screename
       each val in body
        tr
          td= val.screen_name
