extends ../../layout
block mainContent
    include ../../header.jade
    br
    h2 Administration
    h3 Tweet Bot Users
    .panel.panel-default
      table.table.table-condensed
       tr
        th avatar
        th screename
       each val in body
        tr
          td
           img(src='#{val._json.profile_image_url}')
          td= val._json.screen_name
