.navbar
   .navbar-inner.dropup
    ul.nav
      li
       a(target='_parent', href='/auth/facebook') Connexion 
      li
       a(target='_parent', href='/logout/') Logout
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | oAuth Users
          b.caret
        ul.dropdown-menu
          li
           a(target='_parent', href='/admin/oauth/facebook/users') Facebook
          li
           a(target='_parent', href='/admin/oauth/twitter/users') Twitter
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Twitter Bot
          b.caret
        ul.dropdown-menu
          li
           a(target='_parent', href='/admin/bots/twitter/posts') Posts
          li
           a(target='_parent', href='/admin/bots/twitter/users') Users
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Facebook Bot
          b.caret
        ul.dropdown-menu
          li
           a(target='_parent', href='/admin/bots/facebook/posts') Posts
          li
           a(target='_parent', href='/admin/bots/facebook/users') Users