extends layout
block mainContent
    include ./header.jade
     li
      a(target='_blank' href='/services/clear') clear posts
    br
    h2 Section
    .panel.panel-default
      table.table.table-condensed