extends layout
block mainContent
    include ./header.jade
    br
    h2 Adminstration
    .panel.panel-default
      ul
        li
         a(href="./bots/twitter/posts") Twitter Bot Posts
        li
         a(href="./bots/twitter/users") Twitter Bot Users
        li
         a(href="./oauth/twitter/users") Twitter Oauth Users