@font-face {
  font-family: 'HelveticaNeue67MdCn';
  src: url('../fonts/helveticaneue-mediumcond-webfont.eot');
  src: url('../fonts/helveticaneue-mediumcond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneue-mediumcond-webfont.svg#HelveticaNeue67MdCn') format('svg'),
  url('../fonts/helveticaneue-mediumcond-webfont.woff') format('woff'),
  url('../fonts/helveticaneue-mediumcond-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'HelveticaNeue67BldCn';
  src: url('../fonts/helveticaneue-boldcond-webfont.eot');
  src: url('../fonts/helveticaneue-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneue-boldcond-webfont.woff') format('woff'),
  url('../fonts/helveticaneue-boldcond-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneue-boldcond-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue67LtCn';
  src: url('../fonts/helveticaneue-lightcond-webfont.eot');
  src: url('../fonts/helveticaneue-lightcond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneue-lightcond-webfont.woff') format('woff'),
  url('../fonts/helveticaneue-lightcond-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneue-lightcond-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HelveticaNeue.woff") format("woff"),
  url("../fonts/HelveticaNeue.ttf") format("truetype"),
  url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helveticaneue-medium.eot');
  src: url('../fonts/helveticaneue-medium.eot') format('embedded-opentype'),
  url('../fonts/helveticaneue-medium.woff2') format('woff2'),
  url('../fonts/helveticaneue-medium.woff') format('woff'),
  url('../fonts/helveticaneue-medium.ttf') format('truetype'),
  url('../fonts/helveticaneue-medium.svg#HelveticaNeueMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetica-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-Bold.woff') format('woff'),
  url('../fonts/helvetica-Bold.ttf') format('truetype'),
  url('../fonts/helvetica-Bold.svg#HelvNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue65MdCn';
  src: url('../fonts/helveticaneue-medium-webfont.eot');
  src: url('../fonts/helveticaneue-medium-webfont.eot') format('embedded-opentype'),
  url('../fonts/helveticaneue-medium-webfont.woff') format('woff'),
  url('../fonts/helveticaneue-medium-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneue-medium-webfont.svg#HelveticaNeue65MdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuelt_com_55_roman';
  src: url('../fonts/HelveticaNeueLTCom-Bd.eot');
  src: url('../fonts/HelveticaNeueLTCom-Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTCom-Bd.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTCom-Bd.woff') format('woff'),
  url('../fonts/HelveticaNeueLTCom-Bd.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTCom-Bd.svg#helveticaneuelt_com_55_romabd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuelt_std';
  src: url('../fonts/helveticaneueltstd_bd.eot');
  src: url('../fonts/helveticaneueltstd_bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneueltstd_bd.woff2') format('woff2'),
  url('../fonts/helveticaneueltstd_bd.woff') format('woff'),
  url('../fonts/helveticaneueltstd_bd.ttf') format('truetype'),
  url('../fonts/helveticaneueltstd_bd.svg#helveticaneuelt_stdbd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OrangeSans55-Roman';
  src: url('../fonts/OrangeSans55-Roman/OrangeSans55-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/OrangeSans55-Roman/OrangeSans55-Roman.woff') format('woff'), url('../fonts/OrangeSans55-Roman/OrangeSans55-Roman.ttf')  format('truetype'), url('../fonts/OrangeSans55-Roman/OrangeSans55-Roman.svg#OrangeSans55-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OrangeSans75-Bold';
  src: url('../fonts/OrangeSans75-Bold/OrangeSans75-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OrangeSans75-Bold/OrangeSans75-Bold.woff') format('woff'), url('../fonts/OrangeSans75-Bold/OrangeSans75-Bold.ttf')  format('truetype'), url('../fonts/OrangeSans75-Bold/OrangeSans75-Bold.svg#OrangeSans75-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}