.pillar{
    padding:132px 0 50px;
    &.cookie{
        padding:230px 0 50px;
    }
    @include bp($arya){
        padding:90px 0 50px;
        &.cookie{
            padding:262px 0 50px;
        }
    }
    background:$gray;
    nav.global{
        position:fixed;
        top:0;
        z-index:21;
        width:100%;
    }
    .l-wrapper-full.prim{
        background:$gray;
        @include bp($arya){
            overflow-x: scroll;
            position: relative;
            height: 80px;
        }
        @include bp($rickon){
            height: 40px;
        }
    }
    .l-wrapper-full.sec{
       border-bottom:1px solid $orange;
    }
}