.p-pillier3{
    .l-wrapper-1024{
        p{
            &.abs.ml{
                font-size: 0.75em;
                padding: 2em;
                line-height: 1.5;
                margin-top: 50px;
                background: white;
                a{
                    color: black;
                }
                a:visited{
                    color: black;
                }
            }
        }
    }
    section[data-section="1"]{
        .c-section-banner{
            background:url(../img/pillier3/section1.jpg) no-repeat 50% 50%;
            @include bp($arya){
                height: 550px;
                background:url(../img/pillier3/section1-mobile.jpg) no-repeat;
                background-position: center;
                background-size: auto 100%;
            }
            @include bp($rickon){
                height: 275px;
                background:url(../img/pillier3/section1-mobile.jpg) no-repeat;
                background-position: top center;
                background-size: 100% auto;
            }
            h3{
                bottom: 86px;
                padding-right: 125px;
                padding-left: 80px;
                right: 0;
                @include bp($arya){
                    right: initial;
                    left: 0;
                }
                @include bp($rickon){
                    bottom:40px;
                    padding-right: 40px;
                    padding-left: 30px;
                }
            }
        }
        .c-section-content[data-element="1"]{
            .txt{
                float:right;
                width:57.5%;
                margin-bottom: 110px;
                padding: 71px 110px 56px 134px;
                @include bp($arya){
                    float: left;
                    width: 89.84375%;
                    margin-bottom: 0px;
                    padding: 63px 58px;
                }
                @include bp($rickon){
                    padding: 31px 29px;
                }
                h4,p{
                    @include bp($sansa){
                        width:100%;
                    }
                    @include bp($arya){
                        width:80%;
                    }
                    @include bp($rickon){
                        width:100%;
                    }
                }
                sup{
                    vertical-align: baseline;
                    position: relative;
                    top: -0.4em;
                    font-size: smaller;
                }
            }
            .meta[data-meta="1"]{
                @include box-sizing(border-box);
                bottom:0px;
                left:0px;
                width:42.5%;
                padding:55px 55px;
                background:$orange;
                text-align: center;
                @include bp($arya){
                    position:static;
                    float: right;
                    width:86.40625%;
                    padding: 120px 110px;
                }
                @include bp($bran){
                    padding: 106px 98px;
                }
                @include bp($rickon){
                    padding: 60px 55px;
                }
                #Fill-4, #Fill-9, #Fill-11{
                    opacity:0;
                }
            }
        }
    }
    section[data-section="2"]{
        .c-section-banner{
            background:url(../img/pillier3/section2.jpg) no-repeat 50% 50%;
            @include bp($arya){
                height: 550px;
                background:url(../img/pillier3/section2-mobile.jpg) no-repeat;
                background-position: center;
                background-size: auto 100%;
            }
            @include bp($rickon){
                height: 275px;
                background:url(../img/pillier3/section2-mobile.jpg) no-repeat;
                background-position: top center;
                background-size: 100% auto;
            }
            h3{
                bottom: 86px;
                padding-right: 125px;
                padding-left: 80px;
                background:$cyan;
                @include bp($arya){
                    right: 0;
                }
                @include bp($rickon){
                    bottom:40px;
                    padding-right: 40px;
                    padding-left: 30px;
                }
            }
        }
        .c-section-content[data-element="1"]{
            .txt{
                @include bp($robb){
                    padding: 200px 4% 0px;
                }
                @include bp($arya){
                    width:100%;
                    padding: 50px 4% 0px;
                }
                width:90%;
                padding: 200px 10% 0px;
                p{
                    @include bp($arya){
                        margin:0;
                        margin-top:10px;
                    }
                    font-family:$bold;
                    color:$orange;
                    @include font-size(28);
                    @include bp($sansa){
                        @include font-size(22);
                    }
                    span{
                        font-family:$txt;
                        color:$black;
                        @include font-size(17);
                        @include bp($sansa){
                            @include font-size(14);
                        }
                    }
                }
            }
            .txt[data-meta="1"]{
                @include box-sizing(border-box);
                @extend .clearfix;
                .meta{
                    float:right;
                }
            }
            .txt[data-meta="6"]{
                @include box-sizing(border-box);
                @extend .clearfix;
                padding: 100px 0px 200px;
                @include bp($arya){
                    padding: 40px 0px;
                }
                .meta{
                    float:right;
                }
            }
            .txt[data-meta="2"]{
                @include box-sizing(border-box);
                @include bp($arya){
                    width:100%;
                }
                width:90%;
                text-align:center;
                .txt{
                    @include bp($arya){
                        width:100%;
                        padding: 50px 4% 0px;
                    }
                }
                .meta{
                    display:inline-block;
                }
                p{
                    @include bp($arya){
                        margin:0;
                        margin-top:10px;
                        display:block;
                    }
                    display:inline-block;
                    vertical-align:top;
                    margin-left:50px;
                }
            }
            .txt[data-meta="3"]{
                @include bp($arya){
                    width:100%;
                    text-align:center;
                }
                @include box-sizing(border-box);
                width:90%;
                text-align:left;
                .meta{
                    display:inline-block;
                    margin-top: -90px;
                    @include bp($robb){
                        margin-top: -40px;
                        width: 35%;
                    }
                    @include bp($arya){
                        margin-top: 0;
                        width: 100%;
                        text-align: center;
                    }
                }
                p{
                    @include bp($arya){
                        margin:0;
                        margin-top:10px;
                        text-align:center;
                    }
                    &.mobile{
                        display:none;
                        @include bp($arya){
                            display:block;
                        }
                    }
                    &.desktop{
                        @include bp($arya){
                            display:none;
                        }
                    }
                    display:inline-block;
                    vertical-align:top;
                    margin-right:50px;
                    //margin-left:15%;
                    line-height: 1em;
                    text-align: left;
                }
            }
            .txt[data-meta="4"]{
                @include bp($arya){
                    width:100%;
                }
                @include box-sizing(border-box);
                width:90%;
                text-align:right;
                .txt{
                    @include bp($arya){
                        width:100%;
                        padding: 50px 4% 0px;
                    }
                }
                .meta{
                    @include bp($arya){
                        margin-top: 0;
                        width: 100%;
                        text-align: center;
                    }
                    display:inline-block;
                }
                p{
                    @include bp($arya){
                        margin:0;
                        margin-top:10px;
                        text-align:center;
                        display:block;
                    }
                    display:inline-block;
                    vertical-align:top;
                    margin-left:50px;
                    line-height: 1em;
                    text-align: left;
                }
            }
            .txt[data-meta="5"]{
                @include bp($arya){
                    width:100%;
                }
                @include box-sizing(border-box);
                width:90%;
                text-align:left;
                .meta{
                    @include bp($arya){
                        margin-top: 0;
                        width: 100%;
                        text-align: center;
                    }
                    display:inline-block;
                }
                p{
                    @include bp($arya){
                        margin:0;
                        margin-top:10px;
                        text-align:center;
                        display:block;
                        width:100%;
                    }
                    &.mobile{
                        display:none;
                        @include bp($arya){
                            display:block;
                        }
                    }
                    &.desktop{
                        @include bp($arya){
                            display:none;
                        }
                    }
                    display:inline-block;
                    vertical-align:top;
                    margin-right:150px;
                    //margin-left:15%;
                    line-height: 1em;
                    text-align: left;
                    width:50%;
                }
            }

        }
    }
    section[data-section="3"]{
        .c-section-banner{
            background:url(../img/pillier3/section3.jpg) no-repeat 50% 50%;
            @include bp($arya){
                height: 550px;
                background:url(../img/pillier3/section3-mobile.jpg) no-repeat;
                background-position: center;
                background-size: auto 100%;
            }
            @include bp($rickon){
                height: 275px;
                background:url(../img/pillier3/section3-mobile.jpg) no-repeat;
                background-position: top center;
                background-size: 100% auto;
            }
            h3{
                right:0px;
                bottom: 86px;
                background:$violet;
                @include bp($rickon){
                    bottom:40px;
                }
            }
        }
        .c-section-content[data-element="1"]{
            .txt{
                position: relative;
                float:right;
                width:54.3%;
                margin-bottom: 140px;
                padding: 149px 112px 152px 97px;
                @include bp($arya){
                    float: left;
                    width:85.625%;
                    margin-bottom: 0px;
                    padding: 48px 44px 93px 44px;
                }
                @include bp($rickon){
                    float: left;
                    width:85.625%;
                    margin-bottom: 0px;
                    padding: 24px 22px 46px 22px;
                }
                h4,p{
                    @include bp($sansa){
                        width:100%;
                    }
                    @include bp($arya){
                        width:85%;
                    }
                    @include bp($rickon){
                        width:100%;
                    }
                }
                p{
                    &.abs{
                        bottom: 0;
                        left: 0;
                        margin-bottom: 9px;
                        margin-left: 112px;
                        font-size: 12px;
                        @include bp($arya){
                            margin-left: 44px;
                        }
                        @include bp($rickon){
                            margin-left: 22px;
                        }
                    }
                }
                sup{
                    vertical-align: baseline;
                    position: relative;
                    top: -0.4em;
                    font-size: smaller;
                }
            }
            .meta[data-meta="1"]{
                bottom:0px;
                left:0px;
                width:45.7%;
                @include bp($arya){
                    position:static;
                    float: right;
                    width:64.21875%;
                }
                img{
                    display: block;
                }
            }
        }
        .c-section-content[data-element="2"]{
            .txt{
                float:left;
                width:57.7%;
                padding:120px;
                @include bp($arya){
                    float:right;
                    width:89.84375%;
                    margin-bottom: 0px;
                    padding:38px 68px 55px 65px;
                }
                @include bp($rickon){
                    padding:19px 34px 27px 32px;
                }
                h4,p{
                    @include bp($sansa){
                        width:100%;
                    }
                    @include bp($arya){
                        //width:80%;
                    }
                }
            }
            .col{
                @extend %clearfix;
                position:relative;
                float:right;
                width:42.3%;
                @include bp($arya){
                    float:left;
                    width:63.75%;
                    background:white;
                }
            }
            .meta[data-meta="1"]{
                @include box-sizing(border-box);
                width:100%;
                padding:55px 0px;
                background:$violet;
                color: #fff;
                text-align:center;
                @include bp($arya){
                    float:none;
                    width:100%;
                }

                    @include font-size(240);
                    font-weight: bold;
                    @include bp($rickon){
                        @include font-size(120);
                    }

            }
            .meta[data-meta="2"]{
                @include bp($arya){
                    position:absolute;
                    display: none;
                    bottom:0px;
                    left:0px;
                    width:35%;
                }
                img{
                    display: block;
                }
            }
        }
        .c-section-content[data-element="3"]{
            overflow:hidden;
            .txt{
                position: relative;
                float:right;
                width:57.1%;
                padding:139px 90px 158px 145px;
                @include bp($arya){
                    float:right;
                    width:85.9375%;
                    margin-bottom: 60px;
                    padding:65px 69px 301px 52px;
                }
                @include bp($rickon){
                    float:right;
                    width:85.9375%;
                    margin-bottom: 30px;
                    padding:32px 34px 150px 26px;
                }
                h4,p{
                    @include bp($sansa){
                        width:100%;
                    }
                    @include bp($arya){
                        //width:80%;
                    }
                }
                p{
                    &.abs{
                        bottom: 0;
                        left: 0;
                        margin-bottom: 9px;
                        margin-left: 14px;
                        font-size: 12px;
                    }
                }
            }
            .meta[data-meta="1"]{
                bottom: 30%;
                width: 100%;
                left: -100%;
                @include bp($arya){
                    width: 200%;
                    left: -105%;
                    bottom: 20%;
                }
                @include bp($rickon){
                    width: 150%;
                    left: -55%;
                    bottom: 22%;
                }
            }
        }
    }
}