.p-pillier2{
    .l-wrapper-1024{
        .c-section-summary{
            text-align: center;
        }
    }
    section[data-section="1"]{
        .c-section-banner{
            background:url(../img/pillier2/section1.jpg) no-repeat 50% 50%;
            @include bp($arya){
                height: 550px;
                background:url(../img/pillier2/section1.jpg) no-repeat;
                background-position: 65% center;
                background-size: auto 100%;
            }
            @include bp($rickon){
                height: 275px;
                background:url(../img/pillier2/section1.jpg) no-repeat;
                background-position: center;
                background-size: auto 100%;
            }
            h3{
                bottom: 69px;
                @include bp($arya){
                    bottom: 60px;
                }
                @include bp($rickon){
                    bottom: 30px;
                }
            }
        }
        .c-section-content[data-element="1"]{
            .txt{
                position: relative;
                float:right;
                width:56.5%;
                margin-bottom: 110px;
                padding: 177px 106px 170px 134px;
                @include bp($sansa){
                    padding: 132px 80px 128px 100px;
                }
                @include bp($arya){
                    float: left;
                    width:84.21875%;
                    margin-bottom: 0px;
                    padding: 72px 98px 72px 82px;
                }
                @include bp($bran){
                    padding: 54px 73px 54px 61px;
                }
                @include bp($rickon){
                    padding: 36px 49px 36px 41px;
                }
                h4,p{
                    @include bp($sansa){
                        width:100%;
                    }
                    @include bp($arya){
                        width:80%;
                    }
                    @include bp($rickon){
                        width: 100%;
                    }
                }
                p{
                    &.abs{
                        bottom: 0;
                        left: 0;
                        margin-bottom: 9px;
                        margin-left: 14px;
                        font-size: 0.75em;
                        @include bp($arya){
                            font-size: 0.625em;
                        }
                    }
                }
            }
            .col{
                height: 100%;
                width:43.5%;
                @include bp($arya){
                    position: relative;
                    float: left;
                    width: 100%;
                }
            }
            .meta[data-meta="1"]{
                @include box-sizing(border-box);
                bottom: 110px;
                width:100%;
                background:$black;
                @include bp($arya){
                    position: static;
                    width:84.21875%;
                }
            }
            .meta[data-meta="2"]{
                @include box-sizing(border-box);
                right: 0;
                bottom: 50px;
                opacity:0;
                width:47%;
                padding:30px 0;
                background:$orange;
                color: #fff;
                text-align: center;
                @include bp($arya){
                    position: absolute;
                    top: 50px;
                    right: 0;
                    bottom: initial;
                    width: 32.8125%;
                }
                @include bp($rickon){
                    padding:15px 0;
                }
                span{
                    @include font-size(35);
                    text-transform: uppercase;
                    @include bp($rickon){
                        @include font-size(17.5);
                    }
                    span{
                        @include font-size(78);
                        font-weight: bold;
                        @include bp($rickon){
                            @include font-size(39);
                        }
                    }
                }
                p{
                    font-weight: bold;
                    @include bp($rickon){
                        @include font-size(8);
                    }
                }
            }
        }
        .c-section-content[data-element="2"]{
            overflow:initial;
            .txt{
                position: relative;
                float: left;
                width:58%;
                padding: 159px 108px 148px 116px;
                @include bp($sansa){
                    padding: 119px 81px 111px 87px;
                }
                @include bp($arya){
                    float: right;
                    width: 87%;
                    padding: 63px 57px 75px 97px;
                }
                @include bp($bran){
                    padding: 45px 42px 55px 72px;
                }
                @include bp($rickon){
                    padding: 31px 28px 37px 48px;
                }
                h4,p{
                    @include bp($sansa){
                        width:100%;
                    }
                }
                p{
                    &.abs{
                        bottom: 0;
                        left: 0;
                        margin-bottom: 9px;
                        margin-left: 14px;
                        font-size: 0.75em;
                        @include bp($arya){
                            right: 0;
                            left: initial;
                            margin-right: 14px;
                            margin-left: 0;
                            font-size: 0.625em;
                            text-align: right;
                        }
                    }
                }
            }
            .meta[data-meta="1"]{
                @include box-sizing(border-box);
                float: right;
                width:42%;
                padding:135px 0px;
                background:$orange;
                text-align: center;
                top: -50px;
                opacity:0;
                position:relative;
                @include bp($arya){
                    position:static;
                    float: left;
                    width:53.75%;
                    margin-bottom: 52px;
                    padding: 65px 40px;
                }
                @include bp($rickon){
                    margin-bottom: 26px;
                    padding: 32px 20px;
                }
            }
        }
    }
    section[data-section="2"]{
        .c-section-banner{
            background:url(../img/pillier2/section2.jpg) no-repeat 50% 50%;
            @include bp($arya){
                height: 550px;
                background:url(../img/pillier2/section2-mobile.jpg) no-repeat;
                background-position: center;
                background-size: auto 100%;
            }
            @include bp($rickon){
                height: 275px;
                background:url(../img/pillier2/section2-mobile.jpg) no-repeat;
                background-position: top center;
                background-size: 100% auto;
            }
            h3{
                right:0px;
                bottom: 86px;
                background:$cyan;
                @include bp($rickon){
                    bottom:40px;
                }
            }
        }
        .c-section-content[data-element="1"]{
            .txt{
                float: left;
                width:53%;
                margin-bottom: 50px;
                padding: 73px 82px 90px 76px;
                position: relative;
                @include bp($sansa){
                    padding: 54px 61px 67px 57px;
                }
                @include bp($arya){
                    width: 85.15625%;
                    margin-bottom: 0px;
                    padding: 46px 21px 70px 29px;
                }
                @include bp($bran){
                    padding: 34px 15px 52px 21px;
                }
                @include bp($rickon){
                    padding: 23px 10px 35px 14px;
                }
                h4,p{
                    @include bp($sansa){
                        width:100%;
                    }
                }
                p{
                    @include bp($arya){
                        width:88%;
                    }
                }
                p{
                    &.abs{
                        bottom: 0;
                        left: 0;
                        margin-bottom: 9px;
                        margin-left: 14px;
                        font-size: 0.75em;
                        @include bp($arya){
                            font-size: 0.625em;
                        }
                        a{
                            color: black;
                        }
                        a:visited{
                            color: black;
                        }
                    }
                }
            }
            .meta[data-meta="1"]{
                @include box-sizing(border-box);
                float: right;
                width:47%;
                padding:55px 0;
                background:$cyan;
                overflow:hidden;
                @include bp($arya){
                    position:static;
                    width:100%;
                    margin-bottom: 50px;
                }
                .row{
                    width:600%;
                    position:relative;
                    left:-1250px;
                    img{
                        margin-right:20px;
                    }
                }
            }
        }
    }
}