extends ../../layout
block mainContent
    include ../../header.jade
    br
    h2 Administration
    h3 Tweet Oauth Users
    .panel.panel-default
      table.table.table-condensed
       tr
        th firstname
       each val in body
        tr
          td= val.name
